html,body,#app{
    height: 100%;
    padding: 0;
    margin: 0;
    list-style:none;
    text-decoration:none;
}
.el-card__body{
    padding: 2px;
}
div.el-submenu__title{
    padding:0 !important;
    height:42px;
    line-height:42px;
}
li.el-submenu .el-menu-item{
    padding:0 2px 0 6px !important;
    height:42px;
    line-height:42px;
}
/*按钮样式开始*/
.el-button{
    padding:10px 18px;
}
.el-input__inner{
    height: 36px;
    line-height: 36px;
}
.el-button{
    margin-left:2px;
}
/*按钮样式结束*/
