html,body,#app{
    height: 100%;
    padding: 0;
    margin: 0;
    list-style:none;
    text-decoration:none;
}
.el-card__body{
    padding: 2px;
}
div.el-submenu__title{
    padding:0 0 0 6px !important;
    height:42px;
    line-height:42px;
}
li.el-submenu .el-menu-item{
    padding:0 2px 0 6px !important;
    height:42px;
    line-height:42px;
}
/*按钮样式开始*/
.el-button{
    padding:10px 18px;
}
.el-input__inner{
    height: 36px;
    line-height: 36px;
}
.el-button{
    margin-left:2px;
}
/*按钮样式结束*/

/* element-ui中dialog居中 */
.el-dialog{
    display: flex;
    flex-direction: column;
    margin:0 !important;
    position:absolute;
    border-radius:4px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    max-height:calc(100% - 30px);
    max-width:calc(100% - 30px);
}
.el-dialog .el-dialog__body{
    flex:1;
    overflow: auto;
}
/*表格内的样式(表头)  padding: 6px 0; 较为好看*/
div table thead tr th{
    padding:2px 0 !important;
    height:38px !important;/*数据表格的行的高度*/
}
.el-table td, .el-table th{
    padding:0;
}
/*数据表格的样式(表体)*/
div table tbody tr td{
    height:38px !important;/*数据表格的行的高度*/
    padding:0;
}
/*mini的按钮样式*/
.el-button--mini{
    padding: 8px 12px !important;
}
/*暂无数据的样式*/
.el-table__empty-block {min-height:38px;}/*数据表格的行的高度*/
.el-table__empty-text{line-height: 38px;width: 50%;color: #909399;}/*数据表格的行的高度*/
/*解决复选框有点点的问题*/
.el-table-column--selection .cell{padding-right:10px;}
.el-textarea__inner{
    padding:4px;
}
/*弹出框的按钮样式*/
.el-dialog__footer {
    padding: 4px 0;
    text-align: center;
    box-sizing: border-box;
}
/*layui弹出层底部的按钮样式*/
.layui-layer-btn a{
    padding:0 10px 0;
    font-size:13px;
}
/*element-ui中确认框的按钮样式*/
.el-message-box__btns{
    padding:5px 2px 0;
    text-align:center;
}
/*element-ui中确认框的底部样式*/
.el-message-box{
    padding-bottom:4px;
}
.el-table .cell, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell{
    padding-right:4px;
}
.el-table .cell{
    padding-left:4px;
}
div.cell{
    padding:0 4px !important;
}