html,body,#app{
    height: 100%;
    padding: 0;
    margin: 0;
}
.el-card{
    box-shadow: 0 0 1px rgba(0,0,0,0.15) !important;/*!important 可以提高权重*/
}
.el-card__body{
    padding: 2px;
}
div.el-submenu__title{
    padding:0 !important;
    height:42px;
    line-height:42px;
}
li.el-submenu .el-menu-item{
    padding:0 2px 0 6px !important;
    height:42px;
    line-height:42px;
}
